/* TODO: Example 02 (Activity 3) CSS goes here */

html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #fffdf5;
}

*, ::before, ::after{
    box-sizing: inherit;
}

nav{
    border-bottom: 1px solid #9c9c9c;
    padding: .5rem;
}

nav > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav > ul > li{
    margin: 0;
    display: inline-block;
    margin-right: .5rem;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*link styles*/

nav a:link, nav a:visited, nav a:active{
    text-decoration: none;
    color: #6f6f6f;
}

nav a:hover{
    text-decoration: none;
    color: #7c2222;
}

/*footer styles*/

footer{
    margin: 2em .5rem;
    padding: .5rem;
    border-top: 1px solid #9c9c9c;
}

/*image styles*/

img{
    max-width: 300px;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1em;
}
.container{
    margin: 0 auto;
    width: 80%;
    counter-reset: article; /*Set a counter initial value to zero*/
}
/*Styling articles*/
article > h1::before{
    counter-increment: article; /*increases value of article by one*/
    content: "Article " counter(article) ": "; /*displays "Article (value) :" before the content of the article*/
    color:#7c2222;
}

/*Styling Circles*/
.circle{
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin:.5rem;
    background-color: cornflowerblue;
    color: black;
    font-size: 2rem;
    text-align: center;
    
}

.vcenter{
    line-height: 200px;

}

.vcenter2{
    line-height: 200px;
    margin: 0 calc((100% - 800px)/8);

}
/* other options 
.vcenter2 > .circle::after{
    content : "";
    display : inline-block;
    height : 100%
    vertical-align : middle;}

.vcenter3 > circle{
    display: table-cell;
    vertical-align: middle;
    float: none;}*/

/*Equal height columns*/
.column{
    float:left;
    padding: 10px;
    color: black;
}
.L-col{
    background-color: #9c9c9c;
    width: 25%;
    padding: 10px
}

.M-col{
    background-color: cornflowerblue;
    width: 50%;
    padding: 10px
}

.R-col{
    background-color: #9c9c9c;
    width: 25%;
    padding: 10px
}

.equal-height{
    display: table;

}

.equal-height .column{
    float: none;
    display: table-cell;
    
}
 /*multicolumn styles*/
 .multiple{
    columns: 3;
    column-gap: 2rem;
 }